@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{font-family: Outfit;}

.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}

select,input,textarea{
    border: 1px solid #c2c2c2; 
    border-radius: 4px;
}